

.container{
	margin-top: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 30px;
  background-color: #e4e4e4;
  font: 14px 'Open Sans', sans-serif;
  min-height: 1400px;
}

mark {

}

.marked{
  background-color:#e2493c;
}

.unmarked{
  background-color:rgb(136, 178, 77);  
}

textarea[type="text"], textarea {
    background-color : #ffffff;
}

#chooseArticle a .active{
    color:white;
}

a{
    color:black;
}

#myDivId{
    background:red; 
    color:white; 
    padding:10px; 
    overflow:hidden; 
    position:relative;
}

.chartContainer{
    position: absolute;
    top: 730px;
    right: 0px;
    left: 5%;
    width: 40%;
    height: 400px;
    padding-bottom: 40px;
     z-index:1;
}


.chartContainerAll{
    position: absolute;
    top: 730px;
    right: 0px;
    left: 45%;
    width: 40%;
    height: 400px;
    padding-bottom: 40px;
     z-index:1;
}


#form_input{
    padding: 10px;
}

.changeCursor{
     cursor: pointer;
}

.content{
    z-index:9;
    position:relative;
}
.progress{
    z-index:1;
    width:100%;
    height:100%;
    color:black;
    background:rgb(136, 178, 77);
}

#result_output, #result_input{
    min-height: 250px;
    margin-bottom: 50px;
    line-height: 165%;
    max-width: 33%;  
    max-height: 150px;
    overflow-x: hidden;
    color:black;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 0.25em 0.5em;
}



#output{
  margin-bottom: 30px;
  margin-top: 30px;

}

h1,h2, label{
    color: #293718;
}

.inout {
    margin-left: 32px;
}

#submit_button_output{
    margin-left: -13px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.help-tip{
    z-index:10;
    position: relative;
    top: 49px;
    right: -3px;
    text-align: center;
    background-color: #5e5e5e;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;

}

.help-tip:before{
    content: '?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{	/* The tooltip */
    display: none;
    text-align: left;
    background-color: rgb(38, 38, 29);
    padding: 20px;
    width: 300px;
    position: relative;
    border-radius: 3px;
    right: -4px;
    color: #fefefe;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color: rgb(38, 38, 29);
    right:285px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}
