**/bin/
**/target/
project/project
.idea

*.iml
*.classpath
*.properties
*.project

# #ignore everything expected...->
# *
# !*.scala
# !*.sc
# !README.md
# !*.xml
# !*.iml
# !*.classpath
# !*.properties
# !.gitignore
# 
# #even sub dirs
# */